<footer>
    <div class="container">
        <div class="footer__text">
            <a href="/index.html">RELCFP is a religious studies call for papers repository. 
            </a>
        </div>
        <div class="footer__social">
            Follow us on <a href="https://www.facebook.com/">Facebook</a> and <a href="https://www.twitter.com/">Twitter</a> 
        </div>
        <div class="footer__copywrite">
            <p>©{{ 'now' | date: "%Y" }} RELCFP | All rights reserved.</p>
        </div>
    </div>
</footer>