<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | {{ site.title }} </title>
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/relcfp.svg"></link>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script type="text/javascript" src="/assets/js/sarissa.js"></script>
  {% seo %}
  {% feed_meta %}
</head>
