<h2 style="text-align:center;">Recent Posts</h2>
<div class="cards__grid recent" >
    {% for post in site.posts | sort: data | limit: 3 %}
    <div class="card__item">
        <div class="meta__info">
            <ul>
                <li class="posts-time">{{post.date | date_to_long_string}}</li>
            </ul>
        </div>
        <div class="post__thumb">
            <a href="{{post.url}}">
                <img class="post__img" src="{{post.image}}" alt="{{post.title}}"/>
            </a>
        </div>
        <a href="{{post.url}}">
            <h3>{{post.title}}</h3>
        </a>
    </div>
    {% endfor %}
</div>