.container{
    .post__header {
        text-align: center;
        padding-bottom: 10px;
        .meta__info {
            .post__info{
                display: flex;
                justify-content: center;
                gap: 10px;
                font-size: 12px;
                line-height: 15px;
                @media (min-width: 500px) {
                    gap: 20px;
                    font-size: 14px;
                    line-height: 18px;  
                }
                .post__author{

                    &::after{
                        content: "/";
                        margin-left: 10px;
                        @media (min-width: 500px) {
                            margin-left: 20px; 
                        }
                    }
                }
            }
        }
    }
    .post__content {
        word-break: break-word;
        @media (min-width: 500px) {
            padding: 0 20px;
        }
        @media (min-width: 1200px) {
            padding: 0 60px;
        }
        li{
            padding: 0 0 5px 10px;
            position: relative;
            @media (min-width: 500px) {
                padding: 0 15px 10px;
            }
            &::before{
                content:"";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #012044;
                position: absolute;
                margin-left: -10px;
                margin-top: 8px;
                @media (min-width: 500px) {
                    margin-left: -16px;
                }
            }
        }
        .post__img{
            text-align: center;
            margin-bottom: 20px;
            img{
                max-width: 100%;
            }
        }
        .post__tag {
            margin: 30px 0;
            display: grid;
            align-items: center;
            @media (min-width: 500px) {
                grid-template-columns: 1fr 1fr; 
            }
            
            .tags{
                
                @media (min-width: 500px) {
                    text-align: right; 
                }
                a{
                    color: rgba(153, 153, 153, 0.863);
                    &:hover{
                        color: #bb4430;
                    }
                }
            }
        }
    }
    .author__details{
        display: grid;
        gap: 10px;
        border: 1px solid #bb453031;
        border-radius: 2px;
        padding: 20px 10px 0;
        margin: 20px auto;
        align-items: center;
        text-align: center;
        @media (min-width: 500px) {
            grid-template-columns: 2fr 2fr;
            text-align: left;
        }
        @media (min-width: 768px) {
            grid-template-columns: 1.5fr 4fr;
            gap: 40px;
        }
        @media (min-width: 1200px) {
            padding: 30px 20px 20px;
            margin: 20px 60px;
        }
        .author__avatar {
            padding: 0 40px;
            @media (min-width: 500px) {
                padding: 0 20px 10px;
            }

            img{
                box-shadow: -15px -10px #bb4530d4;
            }

        }
        .author__description {
            h4{
                font-size: 16px;
                line-height: 18px;
                font-weight: 600;
                @media (min-width: 500px) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .author__links {
                padding: 10px 0;
                i{
                    font-size: 16px;
                }
            }
        }
    }

}