.cards__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 auto;
    @media (min-width: 650px) {
        padding: 0 70px;
    }
    @media (min-width: 850px) {
        padding: 0;
        grid-template-columns: 1fr 1fr ;
    }
    @media (min-width: 1150px) {
        
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1150px) {
        width: 100%;
    }
    &.recent{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0 auto;
        padding: 0;
        @media (min-width: 650px){
            padding: 0 70px;
        }
        @media (min-width: 768px){
            padding: 0 110px;
        }
        @media (min-width: 1024px){
            padding: 0 170px;
        }
        @media (min-width: 1150px) {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0;
        }
    }
    .card__item {
        border: 1px solid #012044;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 4px 16px #ddd;
        display: none;
        img{
            width: 100%;
            height: 100%;
            overflow: hidden;
            @media (min-width: 768px) {
                height: 220px;
            }
            @media (min-width: 1150px) {
                height: 160px;
            }
        }
        svg{
            width: 100%;
            height: auto;
        }
        &:hover{
            transform: scale(1.01);
            box-shadow: 2px 3px 3px #bb45302d;
        }
        h2{
            text-align: center;
            margin-bottom: 20px;
        }
        h3{
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            font-weight: 900;
            line-height: 20px;
            padding: 10px 0;
            @media (min-width: 500px) {
                font-size: 23px;
                line-height: 25px;
            }
        }
        p{
            font-size: 14px;
            line-height: 16px;
            @media (min-width: 500px) {
                font-size: 16px;
                line-height: 18px;
            }
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6){
          display: inline-block;
        }
        
    }
    .meta__info {
        li{
            font-size: 10px;
            line-height: 12px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            padding: 5px 0;
            @media (min-width: 500px) {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    .post__tag{
        margin: 5px 0;
        a{
            font-size: 10px;
            line-height: 12px;
            &:hover{
                color: #bb4430;
            }
            @media (min-width: 500px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    .link__box {
        margin-top: 10px;
        a{
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            color: #012044;
            @media (min-width: 500px) {
                font-size: 16px;
                line-height: 18px;
            }
            &:hover{
                color: #bb4430;
                font-weight: 600;
                transition: all .2s ease;
            }
        }
    }
}
#loadMore{
    font-family: "Montserrat";
    margin: 20px auto 0;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    text-align: center;
    @media (min-width: 500px) {
        font-size: 16px;
        line-height: 18px;
        margin: 40px auto;
    }
    &:hover{
        color: #bb4430;
        font-weight: 600;
        transition: all .2s ease;
    }
}
