---
layout: default
section_id: page
pagination:
  enabled: false
---
<div class="container">
    <div class="post__header">
      <h2>{{page.title}}</h2>
    </div>
    <div class="post__content">
      <div class="post__img">
        {%- if page.image -%}
        <img src="{{page.image}}" alt="{{page.title}}">
        {%- endif -%}
      </div>
  
      <div class="post__content">
        <div class="post__img">
          {%- if page.image -%}
          <img src="{{page.image}}" alt="{{page.title}}">
          {%- endif -%}
        </div>
        {{content}}
  
      </div>
  
    </div>
  
  </div>

