---
layout: default
section_id: posts
pagination:
  enabled: true
---
{%- assign author = site.data.authors[page.author] -%}
<article class="container h-entry">
    <div class="post__header">
        <h2 class="p-name">{{page.title}}</h2>
        <div class="meta__info">
            <ul class="post__info">
            {%- for posts in page.author -%}
                <li class="post__author p-author h-card">
                    <span class="p-name">{{author.name}}</span>
                </li>
            {%- endfor -%}
                <li class="posts__time">
                    <time class="dt-published" datetime="{{page.date | date_to_xmlschema}}">{{page.date | date_to_long_string}}</time>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="post__content">
        <div class="post__img">
            {%- if page.image -%}
                <img class="u-featured" src="https://wsrv.nl/?url={{site.url}}{{page.image}}&output=webp" alt="{{page.title}}">
            {%- endif -%}
        </div>
        <div class="e-content">
            {{content}}
        </div>
        <div class="post__tag">
            <h3>Tags:</h3>
            <div class="tags">
                {%- for tag in page.tags -%}
                <a class="p-category" href="{{site.baseurl}}/tag.html#{{tag}}">&nbsp;#{{tag}}</a>
                {%- endfor -%}
            </div>
        </div>
    </div>


    {% if author %}
    <div class="author__details h-card">
        {% if author.author_img %}
        <div class="author__avatar">
            <img class="u-photo" src="{{author.author_img}}" alt="{{author.name}}">
        </div>
        {% endif %} 
        <div class="author__description">
            <h4>
                {% if author.website %}
                <a class="p-name u-url" href="{{author.website}}" rel="author">{{author.name}}</a>
                {% else %}
                <span class="p-name">{{author.name}}</span>
                {% endif %}
            </h4>
            {% if author.author_desc %}
            <p class="author__text p-note">{{author.author_desc}}</p>
            {% endif %} 
            <div class="author__links">
                {% if author.website %}
                    <a class="u-url" href="{{author.website}}"><i class="fas fa-globe-americas"></i></a>
                {% endif %} 
                {% if author.twitter %}
                    <a class="u-url" href="{{author.twitter}}"><i class="fab fa-fw fa-twitter-square"></i></a>
                {% endif %} 
                {% if author.instagram %}
                    <a class="u-url" href="{{author.instagram}}"><i class="fab fa-fw fa-instagram"></i></a>
                {% endif %} 
                {% if author.github %}
                    <a class="u-url" href="{{author.github}}"><i class="fab fa-fw fa-github-square"></i></a>
                {% endif %} 
                {% if author.linkedin %}
                    <a class="u-url" href="{{author.linkedin}}"><i class="fab fa-fw fa-linkedin"></i></a>
                {% endif %} 
            </div>
        </div>
    </div> 
    {% endif %} 
</article>
{%- include pagination.html -%}
